body {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

#top {
  color: white;
  background-color: #ff5050;
  height: 40px;
  width: 100%;
  text-indent: 10px;
  line-height: 40px;
}

#text {
  color: red;
}

h1 {
  color: white;
}

h2 {}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ff9900;
}

div.gallery {
  float: left;
  position: relative;
  width: 381px;
  height: 381px;
  overflow: hidden;
}

div.gallery:hover .image {
  opacity: 0.5;
}

div.gallery img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.gallery img.portrait {
  width: 100%;
  height: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
